.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr ;
    padding: 10px;

}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    color: greenyellow;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {
    color: lightgreen;
}

